<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/2101cedb-8116-4d21-ab0a-975e1629c914/resourceGroups/RepositoriosDestaque/providers/Microsoft.Web/sites/repositoriosdestaques</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://repositoriosdestaques.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>repositoriosdestaques.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>repositoriosdestaques</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$repositoriosdestaques</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>